.env
/.vscode
/.idea
/vendor
/node_modules
/public/storage
*.sublime*
.DS_Store
supervisor-laravel.conf

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
*.log
docker.env
storage/pg-data/
storage/redis-data/
storage/redis-data-v2/
.phpunit.result.cache
reports/*
!reports/.gitkeep
/tools/**/vendor
.php-cs-fixer.cache
/storage/api-docs/
.phpunit.database.checkum
.env.docker
docker-compose.yml
/packages/softswiss/*
